# User-specific files
*.user
*.suo
*.bak
*.userprefs
*.pidb
*.dll
*.pdb
*.mdb
*.exe
*.booproj
*.unityproj
.DS_Store
Thumbs.db

# Unity generated folders
UnityProject/[Ll]ibrary/
UnityProject/[Tt]emp/
UnityProject/[Oo]bj/
UnityProject/[Bb]uild/
UnityProject/[Bb]uilds/
UnityProject/[Ll]ogs/
UnityProject/[Aa]ddressables/
UnityProject/.vs/
UnityProject/.idea/
UnityProject/.vscode/
UnityProject/Assets/StreamingAssets/aa.meta
UnityProject/Assets/StreamingAssets/aa/*
UnityProject/Assets/AddressableAssetsData/*/*.bin*
UnityProject/Assets/AddressableAssetsData/*/*.bundle*
UnityProject/Assets/AddressableAssetsData/*/*.hash
UnityProject/Assets/AddressableAssetsData/*/*.json

# Exlude any paths that will most likely contain copyrighted data from the game. Never add those to the repo!
# Also remove any bigger package folders we do not need to add to the repo
UnityProject/Assets/GameAssets/Sprite
UnityProject/Assets/GameAssets/Sprite.meta
UnityProject/Assets/GameAssets/Texture2D
UnityProject/Assets/GameAssets/Texture2D.meta
UnityProject/Assets/TextMesh\ Pro
UnityProject/Assets/TextMesh\ Pro.meta

# Rider project
TDUIMOD/.idea/
TDUIMOD/bin/
TDUIMOD/obj/